# World Religion Data Visualization

The code below performs the preparation of the datasets.

In [2]:
import pandas as pd
import pyodbc

country_codes  = pd.read_csv("datasets/cow-country-codes.csv")
global_stats   = pd.read_csv("datasets/WRP-global-data.csv")
national_stats = pd.read_csv("datasets/WRP-national-data.csv")
regional_stats = pd.read_csv("datasets/WRP-regional-data.csv")

print("Finished loading datasets.")

Finished loading datasets.

## Queries

In [4]:
def cc(country):
    return country_codes.query('StateNme == @country')["StateAbb"].iloc[0]

print(f"Get country code by country name. Example: cc('United States of America').")
cc('United States of America')

Get country code by country name. Example: cc('United States of America').

'USA'

## Tables

First five rows of every dataset.

In [9]:
country_codes.head(6).style

In [11]:
global_stats.head(6).style

In [12]:
national_stats.head(6).style

In [13]:
regional_stats.head(6).style